<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %> 
        <title>Detalle - <%= producto.name %></title>
    </head>
     
    <body>
        <header id="header">
            <%- include ('./partials/header.ejs') %>
            <div class="bloqueTitle t2">
                <p>Detalle</p>
            </div>
            
        </header>
         
        <main class="mainIndex">

            <section class="contenedorMenu">
                <section class="detalleContenedor">
                    <div class="imagesArea">
                        <div class="blockImages">
                            <div class="imgPrincipal">
                                <img src="<%= producto.imagenPrincipal %>" alt="" id="imagenPrincipal">
                            </div>
                            <div class="otrasFotos">
                                <img src="<%= producto.imagenPrincipal %>" alt="" id="imagenPrincipalPequeña">
                                <img src="<%= producto.imagenDos %>" alt="" id="segundaImagen">
                                <img src="<%= producto.imagenTres %>" alt="" id="terceraImagen">
                            </div>
                        </div>
                        
                    </div>
                    <div class="infoProducto">
                        <div class="bloqueInfoProd">
                            <div class="titleAndPrice">
                                <h1><%= producto.name %></h1>
                                <p>$<%= producto.precio %></p>
                            </div>
                            <div class="descriptionProduct">
                                <p><%= producto.descripcion %></p>
                            </div>

                            <div class="descriptionProduct mg2">
                                <p class="bold">Aromas Disponibles:</p>
                                <ul>
                                    <% if (aromas.length > 0) { %>
                                     <% aromas.forEach(aroma => { %>
                                        <li><%= aroma.name %></li>
                                     <% }) %>
                                    <% } %>
                                    
                                </ul>
                            </div>  

                        </div>
                        
                    </div>
                    
                </section>

                <% if (locals.userLogged) { %>
                    <div class="contenedorEdit" id="editProductForm">
                        <div class="titleMsgTemporal">
                            <p>Formulario Editar Producto</p>
                            <p class="x">X</p>
                        </div>
                        <div class="contenedorFormEditProd">
                            <form class="formNew " action="/editProduct?m=PUT" method="post" enctype="multipart/form-data">
                                <input type="hidden" name="idProducto" value="<%= producto.id %>">

                                <div class="formBlockInput">
                                    <label for="">Nombre del Producto:</label>
                                    <input class="inputForm" type="text" name="name" value="<%= producto.name %>">
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Descripción:</label>
                                    <textarea class="inputForm" name="descripcion"  cols="30" rows="3"><%= producto.descripcion %></textarea>
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Tamaño:</label>
                                    <input class="inputForm" type="text" name="presentacion" value="<%= producto.presentacion %>">
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Categoria:</label>
                                    <select class="selectForm" name="categoria">
                                        <% if (categorias.length > 0) { %>
                                         <% categorias.forEach(categoria => { %>
                                            <% if (categoria.id == producto.categoria) { %>
                                                <option selected value="<%= categoria.id %>"><%= categoria.name %></option>
                                            <% } else { %>
                                                <option value="<%= categoria.id %>"><%= categoria.name %></option>
                                            <% } %>
                                            
                                         <% }) %>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Precio:</label>
                                    <input class="inputForm" type="text" name="precio" value="<%= producto.precio %>">
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Imagen Principal:</label>
                                    <input class="inputForm" type="file" name="imagenPrincipal" >
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Imagen Dos:</label>
                                    <input class="inputForm" type="file" name="imagenDos" >
                                </div>
                                <div class="formBlockInput">
                                    <label for="">Imagen Tres:</label>
                                    <input class="inputForm" type="file" name="imagenTres" >
                                </div>
                                <button class="enviar" type="submit">Enviar</button>
                                
                            </form>
                        </div>
                        
                    </div>

                    <div class="botonesArea" >
                        <a class="btn80 BGorange" href="#editProductForm" id="botonEditar">Editar</a>
    
                        <button class="btn80 BGred" type="submit">Eliminar</button>
                    </div>
                <% } %>

                
                
            </section>

             
        </main>
    </body>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>

     
</html>

<!-- script para cambiar foto cuando se selecciona y mostrar la seleccionada -->
<script>
    const fotoPrincipalGrande = document.getElementById('imagenPrincipal')
    const fotoPrincipalPequeña = document.getElementById('imagenPrincipalPequeña')
    const segundaFoto = document.getElementById('segundaImagen')
    const terceraFoto = document.getElementById('terceraImagen')

    fotoPrincipalPequeña.style.border = '2px solid black'


    function resaltarFoto(foto, array) { // funcion para resaltar algo de los demas, en este caso fotos

        let otroArray = array.filter((e) => {
            if(e != foto) {
                return e
            }
        })

        otroArray.forEach((e) => {
            e.style.border = '0px solid black'
        })

        foto.style.border = '2px solid black'
    }


    function cambiarFotosDetalleProducto(fotoPrincipalGrande, fotoPrincipalPequeña, segundaFoto, terceraFoto) { 
        let arrayFotosCambiantes = [fotoPrincipalPequeña, segundaFoto, terceraFoto]

        arrayFotosCambiantes.forEach(foto => {

            let fotoSRC = foto.src

            foto.addEventListener('click',() => {
                fotoPrincipalGrande.src = fotoSRC

                resaltarFoto(foto, arrayFotosCambiantes)
                
            })
        })

    }

    cambiarFotosDetalleProducto(fotoPrincipalGrande,fotoPrincipalPequeña, segundaFoto, terceraFoto  ) 

</script>

<!-- script para mostrar y ocultar formulario editar producto -->
<script>
    let btnEditar = document.querySelector('#botonEditar')
    let formularioEditarContenedor = document.querySelector('.contenedorEdit')
    let cover_ctn = document.getElementById("cover-ctn");
    let equis = document.querySelector('.x')
    let formularioEditar = document.querySelector('.formNew')

    btnEditar.addEventListener('click',() => { // boton editar escucha click
        formularioEditarContenedor.style.display = 'flex'
        cover_ctn.style.display = 'flex'
        formularioEditar.style.display = 'flex'
    })

    cover_ctn.addEventListener('click',() => { // fondo oscuro escucha click
        cover_ctn.style.display = 'none'
        formularioEditarContenedor.style.display = 'none'
        formularioEditar.style.display = 'none'
    })

    equis.addEventListener('click',() => { // equis de formulario editar producto escucha click
        cover_ctn.style.display = 'none'
        formularioEditarContenedor.style.display = 'none'
        formularioEditar.style.display = 'none'
    })
</script>

<!-- Script para poner la imagen del header al cargar la pagina-->
<script>
    const headerTotal = document.getElementById('header')
    let pathname = window.location.pathname
    const urlImage  = '/images/nuevaVela.jpg'

    if(pathname.includes('/detalle') ) {
        headerTotal.style.backgroundImage = `linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0,0,0,0.3)
        ),
        url('${urlImage}')`

        headerTotal.style.height = '13.5rem'
    }

</script>