<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %> 
        <title>Detalle - <%= producto.name %></title>
    </head>
     
    <body>
        <header id="header">
            <%- include ('./partials/header.ejs') %>
            <div class="bloqueTitle t2">
                <p>Detalle</p>
            </div>
            
        </header>
         
        <main class="mainIndex">

            <section class="contenedorMenu">
                <section class="detalleContenedor">
                    <div class="imagesArea">
                        <div class="blockImages">
                            <div class="imgPrincipal">
                                <img src="/images/rojoCirculo.jpg" alt="" id="imagenPrincipal">
                            </div>
                            <div class="otrasFotos">
                                <img src="/images/rojoCirculo.jpg" alt="" id="imagenPrincipalPequeña">
                                <img src="/images/rojoPeq.jpg" alt="" id="segundaImagen">
                                <img src="/images/amarilloPeq.jpg" alt="" id="terceraImagen">
                            </div>
                        </div>
                        
                    </div>
                    <div class="infoProducto">
                        <div class="bloqueInfoProd">
                            <div class="titleAndPrice">
                                <h1><%= producto.name %></h1>
                                <p>$<%= producto.precio %></p>
                            </div>
                            <div class="descriptionProduct">
                                <p><%= producto.descripcion %></p>
                            </div>

                            <div class="descriptionProduct mg2">
                                <p class="bold">Aromas Disponibles:</p>
                                <ul>
                                    <% if (aromas.length > 0) { %>
                                     <% aromas.forEach(aroma => { %>
                                        <li><%= aroma.name %></li>
                                     <% }) %>
                                    <% } %>
                                    
                                </ul>
                            </div>  

                            <div class="descriptionProduct">
                                <p>ed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi a</p>
                            </div>
                            
                        </div>

                    </div>
                </section>
            </section>

             
        </main>
    </body>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>

     
</html>

<script src="/js/ocultarTituloPagina.js"></script>

<script>
    const fotoPrincipalGrande = document.getElementById('imagenPrincipal')
    const fotoPrincipalPequeña = document.getElementById('imagenPrincipalPequeña')
    const segundaFoto = document.getElementById('segundaImagen')
    const terceraFoto = document.getElementById('terceraImagen')


    function resaltarFoto(foto, array) { // funcion para resaltar algo de los demas, en este caso fotos

        let otroArray = array.filter((e) => {
            if(e != foto) {
                return e
            }
        })

        otroArray.forEach((e) => {
            e.style.border = '0px solid black'
        })

        foto.style.border = '2px solid black'
    }


    function cambiarFotosDetalleProducto(fotoPrincipalGrande, fotoPrincipalPequeña, segundaFoto, terceraFoto) { 
        let arrayFotosCambiantes = [fotoPrincipalPequeña, segundaFoto, terceraFoto]

        arrayFotosCambiantes.forEach(foto => {

            let fotoSRC = foto.src

            foto.addEventListener('click',() => {
                fotoPrincipalGrande.src = fotoSRC

                resaltarFoto(foto, arrayFotosCambiantes)
                
            })
        })

    }

    cambiarFotosDetalleProducto(fotoPrincipalGrande,fotoPrincipalPequeña, segundaFoto, terceraFoto  ) 

</script>

<!-- Script para poner la imagen del header al cargar la pagina-->
<script>
    const headerTotal = document.getElementById('header')
    let pathname = window.location.pathname
    const urlImage  = '/images/nuevaVela.jpg'

    if(pathname.includes('/detalle') ) {
        headerTotal.style.backgroundImage = `linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0,0,0,0.3)
        ),
        url('${urlImage}')`

        headerTotal.style.height = '13.5rem'
    }

</script>