<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %> 
        <title>Funciones de Administrador</title>
    </head>
     
    <body>
        <header id="header">
            <%- include ('./partials/header.ejs') %>
            <div class="bloqueTitle t2">
                <p>Funciones de Administrador</p>
            </div>
            <input type="hidden" name="" id="rutaImagen" value="<%= informacionPaginaInicio.imagenBanner %>">
        </header>
         
        <main class="mainIndex">
            
            <section class="contenedorMenu">

                <!-- Formulario cambiar banner -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm dinamicTitle">Editar Banner Principal</h3>
                    <form class="formNew" action="/bannerChange?m=PUT" method="post" enctype="multipart/form-data">

                        <div class="formBlockInput">
                            <label for="">Imagen Banner:</label>
                            <input class="inputForm" type="file" name="imagenBanner">
                        </div>
                        
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                <!-- Formulario cambiar texto banner -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm dinamicTitle">Editar Texto Banner</h3>
                    <form class="formNew" action="/bannerTextChange?m=PUT" method="post">
                        
                        <div class="formBlockInput">
                            <label for="">Ingrese Nuevo Texto:</label>
                            <textarea class="inputForm" name="textoAnimacion" id="" cols="30" rows="3"></textarea>
                        </div>
                        
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                <!-- Formulario crear nuevo producto -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm dinamicTitle">Crear Nuevo Producto</h3>
                    <form class="formNew " action="/createProduct" method="post" enctype="multipart/form-data">
                        <div class="formBlockInput">
                            <label for="">Nombre del Producto:</label>
                            <input class="inputForm" type="text" name="name" autocomplete="off">
                        </div>
                        <div class="formBlockInput">
                            <label for="">Descripción:</label>
                            <textarea class="inputForm" name="descripcion"  cols="30" rows="3"></textarea>
                        </div>
                        <div class="formBlockInput">
                            <label for="">Tamaño:</label>
                            <input class="inputForm" type="text" name="presentacion" autocomplete="off">
                        </div>
                        <div class="formBlockInput">
                            <label for="">Categoria:</label>
                            <select class="selectForm" name="categoria">
                                <% if (categorias.length > 0) { %>
                                 <% categorias.forEach(categoria => { %>
                                    <option value="<%= categoria.id %>"><%= categoria.name %></option>
                                 <% }) %>
                                <% } %>
                            </select>
                        </div>
                        <div class="formBlockInput">
                            <label for="">Precio:</label>
                            <input class="inputForm" type="text" name="precio" >
                        </div>
                        <div class="formBlockInput">
                            <label for="">Imagen Principal:</label>
                            <input class="inputForm" type="file" name="imagenPrincipal" >
                        </div>
                        <div class="formBlockInput">
                            <label for="">Imagen Dos:</label>
                            <input class="inputForm" type="file" name="imagenDos" >
                        </div>
                        <div class="formBlockInput">
                            <label for="">Imagen Tres:</label>
                            <input class="inputForm" type="file" name="imagenTres" >
                        </div>
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                <!-- Formulario crear nueva categoria -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm dinamicTitle">Crear Nueva Categoria</h3>
                    <form class="formNew" action="/createCategory" method="post" enctype="multipart/form-data">
                        <div class="formBlockInput">
                            <label for="">Nombre de la Categoria:</label>
                            <input class="inputForm" type="text" name="categoryName" autocomplete="off" >
                        </div>
                        <div class="formBlockInput">
                            <label for="">Imagen Categoria:</label>
                            <input class="inputForm" type="file" name="imgBannerCategory">
                        </div>
                        
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                <!-- Formulario crear nueva fragancia -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm dinamicTitle">Crear Nueva Fragancia</h3>
                    <form class="formNew" action="/createScent" method="post">
                        
                        <div class="formBlockInput">
                            <label for="">Nombre:</label>
                            <input class="inputForm" type="text" name="nombreFragancia">
                        </div>
                        
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                <!-- Formulario Cerrar Sesión -->
                <div class="contFormNew">
                    <h3 class="titleForm noneForm" id="cerrarSesion">Cerrar Sesion</h3>
                    <form hidden class="formNew" action="/logout" method="get" id="formLogOut">
                        <input hidden type="text" name="" id="" value="<%= locals.userLogged.id %>">
                        <button class="enviar" type="submit">Enviar</button>
                        
                    </form>
                </div>

                
                
            </section>

            

             
        </main>
    </body>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>

     
</html>

<script>
    let tituloDeFormulario = document.querySelectorAll('.dinamicTitle')
    let btnCerrarSesion = document.getElementById('cerrarSesion')
    let formLogOut = document.querySelector('#formLogOut')

    btnCerrarSesion.addEventListener('click',(e) => {
        formLogOut.submit()
    })

    tituloDeFormulario.forEach(titulo => {
        titulo.addEventListener('click',()=> {

            let contenidoFormulario = titulo.parentNode.childNodes[3]

            if(!titulo.classList.contains('noneForm')) {
                titulo.classList.add('noneForm')
                contenidoFormulario.style.display = 'none'
            } else {
                titulo.classList.remove('noneForm')
                contenidoFormulario.style.display = 'flex'
            }

        })
    })
</script>

<script>
    const headerTotal = document.getElementById('header')
    let pathname = window.location.pathname
    const rutaImagen = document.getElementById('rutaImagen')
    const urlImage  = rutaImagen.value

    if(pathname == '/funcionesAdministrador') {
        headerTotal.style.backgroundImage = `linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0,0,0,0.3)
        ),
        url('${urlImage}')`

        headerTotal.style.height = '25vh'
    }

</script>