<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %> 
    <title>Ingreso Administrador</title>
</head>
<body>
    <header id="header">
        <%- include ('./partials/header.ejs') %>
        <div class="bloqueTitle t2">
            <p>Ingreso</p>
        </div>
        <input type="hidden" name="" id="rutaImagen" value="<%= informacionPaginaInicio.imagenBanner %>">
    </header>

    <main class="mainLogin">
        <section class="contenedorMenu">
            <form class="contenedorFormularioLogin" action="/loginProcess" method="post">
                <div class="blockInp">
                    <label for="">Usuario:</label>
                    <input type="text" name="user" id="userInput" value="<%= locals.errors && !locals.errors.user && locals.data ? locals.data.user : null %>">
                    <p class="error2 errUser"></p>
                    <% if (locals.errors && locals.errors.user) { %>
                        
                        <p class="error2"><%= locals.errors.user.msg %></p>
                        
                    <% } %>
                </div>
                <div class="blockInp">
                    <label for="">Contraseña:</label>
                    <input type="password" name="password" id="passwordInput" autocomplete="off">
                    <p class="error2 errPassword"></p>
                    <% if (locals.errors && locals.errors.password) { %>
                        
                        <p class="error2"><%= locals.errors.password.msg %></p>
                        
                    <% } %>
                </div>
                <section class="recordar-usuario">
                    <label for="remUser">Recordar usuario</label>
                    <input type="checkbox" name="remUser" id="remUser">
                </section>

                <button class="btnIngresar" type="submit">Ingresar</button>
                
            </form>
        </section>
    </main>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>
    
</body>
</html>

<!-- Script para banner de header -->
<script>
    const headerTotal = document.getElementById('header')
    const rutaImagen = document.getElementById('rutaImagen')
    let pathname = window.location.pathname
    const urlImage  = rutaImagen.value

    if(pathname == '/loginAdminMagia') {
        headerTotal.style.backgroundImage = `linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0,0,0,0.3)
        ),
        url('${urlImage}')`

        headerTotal.style.height = '20vh'
    }

</script>

<!-- Script que llama la funcion para validar login -->
<script src="/js/validacionFrontLogin.js"></script>

<script>

    const inputUser = document.querySelector('#userInput')
    const inputPassword = document.querySelector('#passwordInput')
    const btnIngresar = document.querySelector('.btnIngresar')
    const errorUser = document.querySelector('.errUser')
    const errorPassword = document.querySelector('.errPassword')

    validacionFrontLogin (inputUser, errorUser, inputPassword, errorPassword, btnIngresar)

</script>