<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include ('./partials/head.ejs') %> 
        <% if (categorias.length > 0) { %>
            <% let categoriaEncontrada = categorias.find(categoria => categoria.id == category) %>
            <% if (categoriaEncontrada) { %>
                <title><%= categoriaEncontrada.name %></title>
                <input type="hidden" id="rutaImagenCategoria" value="<%= categoriaEncontrada.imgBanner %>">
            <% } %>
        <% } %>
        
    </head>
     
    <body>
        <header id="header">
            <%- include ('./partials/header.ejs') %>
            <div class="bloqueTitle t2">
                <% if (categorias.length > 0) { %>
                 <% let categoriaEncontrada = categorias.find(categoria => categoria.id == category) %>
                 <% if (categoriaEncontrada) { %>
                    <p><%= categoriaEncontrada.name %></p>
                 <% } %>
                <% } %>
                
            </div>
            
        </header>
         
        <main class="mainIndex">

            <section class="contenedorMenu">
                <div class="contenedorProductos">
                    <% if (productos.length > 0) { %>
                        <% productos.forEach(producto => { %>
                            <a class="bloqueProduct" href="/detalle/<%= producto.id %>">
                                <img src="<%= producto.imagenPrincipal %>" alt="">
                                <div class="infoProduct">
                                    <p><%= producto.name %></p>
                                    <p class="bold">$<%= producto.precio %></p>
                                </div>
                            </a>
                        <% }) %>
                    <% } else { %>
                        <p>No hay productos disponibles en esta categoria</p>
                    <% } %>
                    
                </div>
            </section>

             
        </main>
    </body>

    <footer>
        <%- include ('./partials/footer.ejs') %>
    </footer>

     
</html>

<script>
    const headerTotal = document.getElementById('header')
    let pathname = window.location.pathname
    const rutaImagen = document.getElementById('rutaImagenCategoria')
    const urlImage  = rutaImagen.value


    if(pathname.includes('/productos') ) {
        headerTotal.style.backgroundImage = `linear-gradient(
            rgba(0, 0, 0, 0.5),
            rgba(0,0,0,0.3)
        ),
        url('${urlImage}')`

        headerTotal.style.height = '13.5rem'
    }

</script>