
<div class="contenedorHeader">
    <label for="menu" class="bloqueExterno" id="bloqueMenuHamburguesa">
        <i class="fa-solid fa-bars burgerMenuIcon" id="burgerMenu"></i>
    </label>
    <div class="bloqueExterno">
        <img class="logo" src="/images/LOGO_CIRCULAR_BLANCO.png"  alt="">
    </div>
    
    <ul class="menu">
        <a href="/"><li class="item">Inicio</li></a>
        <div class="contenedorProd">
            <li class="item" id="productosOptDesktop">Productos<i class="fa-solid fa-chevron-down flecha"></i></li>
            <ul class="listaProductos" id="listaProductosDesktop">
                <% if (categorias) { %>
                    <% categorias.forEach(categoria => { %>
                        <a href="/productos/<%= categoria.id %>"><li><%= categoria.name %></li></a>
                    <% }) %>
                <% } %>
            </ul>
        </div>
        
        <a href=""><li class="item">Nosotros</li></a>
    </ul>

    
    <div class="bloqueExterno beD">
        <% if (locals.userLogged) { %>
            <p class="pHeader"><%= locals.userLogged.name %></p>
            <i class="fa-solid fa-user accountUser"></i>
        <% } else { %>
            <p></p>
        <% } %>
        
    </div>

    
</div>

<ul class="menu" id="menuResponsive">
        <a href="/"><li class="itemMobile">Inicio</li></a>
        <div class="contenedorProd">
            <li class="itemMobile" id="productosOptMobile">Productos<i class="fa-solid fa-chevron-down flecha"></i></li>
            <ul class="listaProductos" id="listaProductosMobile">
                <% if (categorias) { %>
                    <% categorias.forEach(categoria => { %>
                        <a href="/productos/<%= categoria.id %>"><li><%= categoria.name %></li></a>
                    <% }) %>
                <% } %>
            </ul>
        </div>
        
        <a href=""><li class="itemMobile">Nosotros</li></a>
    </ul>

<!-- Script eventos -->
<script>
    const optProductosMobile = document.getElementById('productosOptMobile')
    const listarProductosMobile = document.querySelector('#listaProductosMobile')
    const optProductos = document.getElementById('productosOptDesktop')
    const listarProductos = document.querySelector('#listaProductosDesktop')
    const menuHamburguesa = document.querySelector('#burgerMenu')
    const listaProductos = document.querySelector('#menuResponsive')
    const logoA = document.querySelector('.logo')
    const tituloPagina = document.querySelector('.bloqueTitle')
    const adminUser = document.querySelector('.accountUser')
    const nombreUsuario = document.querySelector('.pHeader')

    // Simbolo usuario escucha click (solo para administrador)
    adminUser.addEventListener('click',() => {
        window.location.pathname = 'funcionesAdministrador'
    })
    
    // Menu hamburguesa escucha click
    menuHamburguesa.addEventListener('click', () => {

        if(!listaProductos.classList.contains('activeMain')) {
            listaProductos.classList.add('activeMain')
            listaProductos.style.top = '-8.5rem'
            header.style.backgroundColor = '#FFF9EE'
            logo.src = '/images/LOGO_CIRCULAR_ROJO.png'
            menuHamburguesa.style.color = '#D95A4D'
            
           

        } else {

            listaProductos.classList.remove('activeMain')
            listaProductos.style.top = '-70%'
            header.style.backgroundColor = 'transparent'
            logo.src = '/images/LOGO_CIRCULAR_BLANCO.png'
            menuHamburguesa.style.color = 'white'
            
        }
        
    })

    // cuando productos escuche click aparezcan los productos disponibles
    optProductos.addEventListener('click',() => {
        if(listarProductos.style.display == 'block') {
            listarProductos.style.display = 'none'
        } else {
            listarProductos.style.display = 'block'
        }
    })

    // cuando productos escuche click aparezcan los productos disponibles (Celular, Tablet)
    optProductosMobile.addEventListener('click',() => {
        if(listarProductosMobile.style.display == 'block') {
            listarProductosMobile.style.display = 'none'
        } else {
            listarProductosMobile.style.display = 'block'
        }
    })

</script>

<!-- Script para  cuando escuche scroll, escuche click el menu hamburguesa(mobile) cambie de header -->
<script>
    let header = document.querySelector('.contenedorHeader')
    let logo = document.querySelector('.logo')
    let items = document.querySelectorAll('.item')
    let burgerMenu = document.querySelector('#burgerMenu')

    fetch(window.location.href)
    .then(response => {
        if (response.status === 404) { 
            //console.log('La página es un error 404');
            // Aquí puedes realizar alguna acción específica si es un error 404

            header.style.backgroundColor = '#FFF9EE'
            logo.src = '/images/LOGO_CIRCULAR_ROJO.png'

            if(adminUser) {
                adminUser.style.color = '#D95A4D'
                nombreUsuario.style.color = '#D95A4D'
            }
            

            items.forEach(item => {
                item.style.color = '#D95A4D'
            })

            burgerMenu.style.color = '#D95A4D'

        } else { // Aquí puedes manejar la página disponible

            //console.log('La página está disponible');

            // escucha scroll la pagina
            window.addEventListener('scroll',() => {
    
                let scroll = window.scrollY
                

                if(scroll > 15) {

                    header.style.backgroundColor = '#FFF9EE'
                    logo.src = '/images/LOGO_CIRCULAR_ROJO.png'

                    if(adminUser){
                        adminUser.style.color = '#D95A4D'
                        nombreUsuario.style.color = '#D95A4D'
                    }

                    items.forEach(item => {
                        item.style.color = '#D95A4D'
                    })

                    burgerMenu.style.color = '#D95A4D'

                } else if (scroll < 15 && listaProductos.classList.contains('activeMain')) {
                    header.style.backgroundColor = '#FFF9EE'
                    logo.src = '/images/LOGO_CIRCULAR_ROJO.png'

                    items.forEach(item => {
                        item.style.color = '#D95A4D'
                    })
                    burgerMenu.style.color = '#D95A4D'

                    if(adminUser){
                        adminUser.style.color = '#D95A4D'
                        nombreUsuario.style.color = '#D95A4D'
                    }

                } else {
                    header.style.backgroundColor = 'transparent'
                    logo.src = '/images/LOGO_CIRCULAR_BLANCO.png'

                    items.forEach(item => {
                        item.style.color = 'white'
                    })
                    burgerMenu.style.color = 'white'

                    if(adminUser){
                        adminUser.style.color = 'white'
                        nombreUsuario.style.color = 'white'
                    }
                }

                
                
            })

            // escucha click el menu hamburguesa
            burgerMenu.addEventListener('click',() => {

                let scroll = window.scrollY
                
                if(scroll > 15) {

                    header.style.backgroundColor = '#FFF9EE'
                    logo.src = '/images/LOGO_CIRCULAR_ROJO.png'

                    items.forEach(item => {
                        item.style.color = '#D95A4D'
                    })

                    burgerMenu.style.color = '#D95A4D'

                    if(adminUser){
                        adminUser.style.color = '#D95A4D'
                    }

                } else if (scroll < 15 && listaProductos.classList.contains('activeMain')) {
                    header.style.backgroundColor = '#FFF9EE'
                    logo.src = '/images/LOGO_CIRCULAR_ROJO.png'

                    items.forEach(item => {
                        item.style.color = '#D95A4D'
                    })
                    burgerMenu.style.color = '#D95A4D'

                    if(adminUser){
                        adminUser.style.color = '#D95A4D'
                    }

                } else {
                    header.style.backgroundColor = 'transparent'
                    logo.src = '/images/LOGO_CIRCULAR_BLANCO.png'

                    items.forEach(item => {
                        item.style.color = 'white'
                    })
                    burgerMenu.style.color = 'white'

                    if(adminUser){
                        adminUser.style.color = 'white'
                    }
                }
                
            })
        }
    })
    .catch(error => {
        console.error('Error al intentar acceder a la página', error);
        // Manejo de errores, por ejemplo, si la página no se pudo cargar
    });

    
    
</script>
